.Container {
    display: flex;
    flex-direction: column;
    margin: 12vh;
    align-items: center;
}


.InfoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.EditProfile {
    justify-content: center;
    display: flex;
}

.Chips {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 12vh;
    margin-right: 12vh;
    max-width: 600;
}

.Paper {
    display: flex;
    flex-direction: column;
    margin-left: 12vh;
    margin-right: 12vh;
    width: 120vh;
}

@media screen and (max-width: 2000px) {
    .Paper {
        width: 140vh;
    }
}

@media screen and (max-width: 1700px) {
    .Paper {
        width: 120vh;
    }
}


@media screen and (max-width: 1200px) {
    .Paper {
        width: 106vh;
    }
}

@media screen and (max-width: 800px) {
    .Paper {
        width: 76vh;
    }
}