.lds-facebook {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 525px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 500px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 550px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 500px;
      height: 100px;
    }
    50%, 100% {
      top: 550px;
      height: 32px;
    }
  }
  